
.mainContainer {
    display: grid;
    grid-template-columns: 8fr 0.1fr 2fr;
    height: 100vh;

    --border-color: #d3d3d3
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.rightChild {
    flex : 1;
    border-bottom: 1px solid var(--border-color);
    margin-right: 1vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightChild:first-child {
    justify-content: center;
    align-items: flex-end;
}

.rightChild:last-child {
    justify-content: center;
    align-items: flex-start;
    margin-top: 3vh;
}

.verticalLine {
    border-left: 0.1vw solid var(--border-color);
    margin-top: 5vh;
    margin-bottom: 5vh;
}